* {
  box-sizing: border-box; 
  max-width: 100%;
}


  /* mobile phones: */
[class*="col-"] {
  width: 100%;
  }

/* dont this this is needed, most
phone below, tablets go way over 
>>>>>>>>>>
@media only screen and (min-width: 600px) 
(large phones + tablets portrait) {
.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.33%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}
} */

@media only screen and (min-width: 768px) {
  /* For tablets: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;

}

/* main { is this nessessary?
  max-width: 1200px;
  margin: 0;
  padding: 0;
} */

/*<<<<NAV AND BUTTONS>>>>*/

#nav {
  background-color: white;
  text-align: center; 
  align-items: center;
  height: 10%;
  padding: 20px 30px 20px 30px;
  overflow: hidden;
}

@media only screen and (min-width: 768px)/*tablets*/ { 
  #nav {
    background-color: white;
    text-align: center; 
    align-items: center;
    height: 10%;
    padding: 20px 30px 20px 30px;
  }
}  

@media only screen and (min-width: 992px)/*desktop*/ {
  #nav {
    background-color: white;
    text-align: right; 
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10%;
  font-weight: 800;
  color: black;
  font-size: 1vh;
  border: none;
}

@media only screen and (min-width: 768px)/*tablets*/ { 
  button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10%;
    font-weight: 800;
    color: black;
    font-size: 2vh;
    border: none;
  }
}

@media only screen and (min-width: 992px)/*desktop*/ {
  button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 40%;
    font-weight: 500;
    color: black;
    font-size: 5vh;
    border: none;
  }
}


button:hover {
  color: blueviolet;
}

/*<<<<BUTTERFLY IMAGE>>>>*/

img /*mobile*/{
position: absolute;
max-width: 10%;
z-index:1;
margin-left: 0%;
}

@media only screen and (min-width: 768px)/*tablets*/ { 
  img {
    position: absolute; 
    max-width: 20%;
    z-index:1;
    }
  }

  @media only screen and (min-width: 992px)/*desktop*/ {
    img {
      position: absolute;
      max-width: 15%;
      z-index:1;
      margin-left: -20%;
      margin-top: -1%;
      }
    }
  
/*<<<<does this need changing for some???>>>>*/
div {
  display: flex;
}
/*<<<<GRID container>>>>*/
.container {

  overflow: hidden;
}

body {
  background-color: black;
}
/*<<<<GRID PATTERB>>>>*/
@media only screen and (max-width: 768px)/*moble*/ { 
  .vgrid {
    border-left: solid 2px white;
    height: 15%;
    max-height: 15%;
    min-height: 5%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
  }
  }

@media only screen and (min-width: 768px) /*tablet?*/ { 
.vgrid {
  border-left: solid 2px white;
  height: 25%;
  max-height: 25%;
  min-height: 15%;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  
}
}

  @media only screen and (min-width: 992px) /*laptop?*/ {
    .vgrid {
      border-left: solid 2px white;
      height: 40%;
      max-height: 40%;
      min-height: 25%;
      margin-left: 2%;
      margin-right: 2%;
      position: absolute;
    }
  }


#hor-grid {
  border-bottom: solid 2px white;
  width: 100%;
  margin-bottom: 3%; 
  margin-top: 3%;
  position: relative;
  max-block-size: none;
}

@media only screen and (min-width: 992px) {
h1 {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  position:absolute;
  }
}



/* .dropbtn {
  background-color: aquamarine;
  color: black;
  border: none;
  padding: 5px;
  font-size: 12px;
}
/* The container <div> - needed to position the dropdown content 
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown Content (Hidden by Default) 
.dropdown-contents {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px (0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown 
.dropdown-contents a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {display: block;} */




  

  