* {
  box-sizing: border-box; 
  max-width: 100%;
  margin: 0;
}


  /* mobile phones: */
[class*="col-"] {
  width: 100%;
  }

@media only screen and (min-width: 768px) {
  /* For tablets: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
 
}

[class*="col-"] {
  float: unset;

}

/* main { is this nessessary?
  max-width: 1200px;
  margin: 0;
  padding: 0;
} */

/*<<<<NAV AND BUTTONS>>>>*/

#nav {
  background-color: white;
  text-align: center; 
  min-height: 6vh;
  max-height: 8vh;
  overflow: hidden;
margin: auto;
padding: auto;
  display: block;
  margin: 0;
}

@media only screen and (min-width: 768px)/*tablets*/ { 
  #nav {
    background-color: white;
    min-height: 8vh;
    max-height: 16vh;
    overflow: hidden;
    margin: auto;
    padding: auto;
    display: block;
    text-align: right;
  }
}  

@media only screen and (min-width: 992px)/*desktop*/ {
  #nav {
    background-color: white;
    height: 16vh;
    overflow: hidden;
    margin: auto;
    padding: 20px 10px 20px 10px; 
    text-align: right;
    display: block;
  }
}

a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10%;
  font-weight: 800;
  color: black;
  font-size: 0.7vh;
  border: none;
  text-align: right;
}

/*MOBILE ONLY BURGER BAR*/
@media only screen and (max-width: 768px) { /*moble*/
.bur-menu {
  width: 60px;
  height: 60px;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  background-color: red;
}

.ham-bar {
  width: 50%;
  height: 3px;
  background-color: red;
  border-radius: 15px;
  display: inline-block;
  position:absolute;
  transform: translate(-50%, -50%);
  transition: transform .6s, opacity .8s, top .6s;
  top: 50%;
  left: 50%;
  margin-left: 80%;
}

.top {
  top: 25%;
}
.bottom {
  top: 75%;
}

.bur-menu.active .top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.bur-menu.active .mid {
opacity: 0;
}

.bur-menu.active .bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}
}

/*BUTTONS*/
@media only screen and (min-width: 768px)/*tablets*/ { 
  button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 20%;
    font-weight: 500;
    color: black;
    font-size: 100%;
    border: none;
    background-color: white;
    padding-right: 5vh;
  }
  .star {
    max-height: 8vh;
    min-height: 4vh;
  }
}

@media only screen and (min-width: 992px)/*desktop*/ {

  button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 50%;
    font-weight: 500;
    color: black;
    font-size: 4vh;
    border: none;
    background-color: white;
  }

  img .star {
    max-height: 7vh;
    min-height: 6vh;
    margin-left: 10vh;
    padding-left: 5vh;
  }

  #block {
    margin-left: 10vh;
  }

}


button:hover {
  color: white;
  background-color: aquamarine;
  text-decoration: line-through;
}

/*<<<<BUTTERFLY IMAGE>>>>*/

#butterflymobile /*mobile*/{
margin-left: 50%;
margin-right: 50%;
position: absolute;
min-width: 7vh;
max-width: 12vh;
z-index: 1;
}

/*    width: 820px;
    aspect-ratio: auto 820 / 817;
    height: 817px;*/

@media only screen and (min-width: 768px)/*tablets*/ { 
  #butterfly {
    position: absolute; 
    margin: 0vh;
    padding: 0vh;
    min-width: 15vh;
    max-width: 20vh;
    z-index:1;
    }
  }

  @media only screen and (min-width: 992px)/*desktop*/ {
  #butterfly {
      position:absolute;
      margin: 1vh;
      padding: 1vh;
      min-width: 20vh;
      max-width: 25vh;
      z-index: 1;
      }
    }
  
/*<<<<does this need changing for some???>>>>*/
div {
  display: flex;
}
/*<<<<GRID container>>>>*/
.container {
  overflow: hidden;
}

body {
  background-color: black;
}
/*<<<<GRID PATTERN>>>>*/
@media only screen and (max-width: 655px)/*moble*/ { 
  .vgrid {
    border-left: solid 1px white;
    min-height: 12%;
    max-height: 25%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
  }
  }

@media only screen and (min-width: 655px) /*tablet?*/ { 
.vgrid {
  border-left: solid 2px white;
  min-height: 20%;
  max-height: 30%;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute; 
}
}

  @media only screen and (min-width: 992px) /*desktop*/ {
    .vgrid {
      border-left: solid 2px white;
      height: 40%;
      max-height: 40%;
      min-height: 25%;
      margin-left: 2%;
      margin-right: 2%;
      position: absolute;
    }
  }

#hor-grid {
  border-bottom: solid 2px white;
  width: 100%;
  margin-bottom: 3%; 
  margin-top: 3%;
  position: relative;
  max-block-size: none;
}


/*HEADING TEXT + STAR ICON*/
#heading {
  align-items: center;
  margin: 0 5vh 0 5vh;
}
/*mobile*/
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-shadow: 2px 2px 1px aquamarine;
  letter-spacing: 0.2vh;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 100;
  letter-spacing: 0.2vh;
  position: relative;
  align-items: flex-end;
  margin-top: 1vh;
  margin-bottom: -2vh;
}

#icon {
  min-width: 7vh;
  max-width: fit-content;
  position: relative;
  margin-left: 1vh;
}

#blank {      /*needed??*/
  float: left;
  max-width: 7vh;
  align-items:flex-start;
  position: relative;
  margin-right: 3vh;
}

@media only screen and (min-width: 768px) /*tablet?*/ {
  h1 {
    font-size: 4vh;
    margin: 0;
  }
  h2 {
    font-size: 4vh;
    margin: 0;
  }
  #blank #icon {      /*needed?*/
    max-width: fit-content;
    min-width: 8vh;
    margin: 1vh;
  }
}

@media only screen and (min-width: 992px) /*desktop*/{
  h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vh;
    position: relative;
    text-shadow: 4px 4px 2px aquamarine;
    margin: 0;
    margin-bottom: 8px;
    }
    #icon {
      max-width: fit-content;
      min-width: 10vh;
      position:relative;
      margin: 5vh;
      margin-right: 2vh;
      z-index: 1;
    }
    #blank {
      max-width: 20vh;
      min-width: 20vh;
      position:relative;
      margin: 5vh;
    }

      h2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10vh;
        font-weight: 100;
        letter-spacing: 0.2vh;
        align-items: flex-start;
        margin-top: -2vh;
        margin-left: -13vh;
      }
  }

/* ABOUT */
#portrait {
 background-color: aqua; 
 padding: 5vh;
}

#about {
  color:white;
  align-items: center;
}

#intro {
  background-color: aquamarine;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: black;
  width: auto;
  height: auto;
  margin: 5vh;
  padding: 3%;
  text-align: left;
  font-size: 12px;
}

@media only screen and (min-width: 992px) /*desktop*/{
  #intro {
    font-size: 6vh;
  }
}

/*mobile*/
#here {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: black;
  width: auto;
  height: auto;
  font-size: 12px;
}

@media only screen and (min-width: 992px) /*desktop*/{
#here {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: black;
  width: auto;
  height: auto;
  font-size: 6vh;
}
}

#here:hover {
  color: white;
  text-decoration: line-through;
}

/* .dropbtn {
  background-color: aquamarine;
  color: black;
  border: none;
  padding: 5px;
  font-size: 12px;
}
/* The container <div> - needed to position the dropdown content 
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown Content (Hidden by Default) 
.dropdown-contents {
  display: none;
  position: absolute;
  background-color: blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px (0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown 
.dropdown-contents a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {display: block;} */




  

  